<%= form_for(category) do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <% category.errors.full_messages.join(', ')%>

    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
      <%= hidden_field_tag 'category[book_ids][]', nil%>
      <label>Select Book for this category </label><br>
      <% @books.each do |book| %>
      <%= check_box_tag 'category[book_ids][]', book.id, @category.books.include?(book)%>
      <%= book.name%><br>
      <%end%>
    </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-success btn sm'%>
  </div>
<% end %>
